<div id="page">
  <form
*ngIf="fields"
[formGroup]="formGroup"
method="post"
>
<formly-form [form]="formGroup" [fields]="fields" [model]="model"></formly-form>


<button
  mat-raised-button
  color="primary"
  class="w-100 btn btn-primary btn-lg"
  [disabled]="
    !formGroup.valid
  "
  (click)="onSubmit()"
>
 <mat-icon style="vertical-align: middle;">credit_score</mat-icon>  Pay
</button>
</form>

<mat-divider></mat-divider>

 <div id="cards">
  <h4>you can test with the following credit cards for <b>{{model['gateway']}}</b></h4>
  <mat-list *ngFor="let item of cards[model['gateway']]">
    <mat-list-item>
      <span matListItemTitle><b>{{item.label}}</b></span>
      <span matListItemLine>{{item.value}}</span>
      <mat-divider matListItemLine></mat-divider>
    </mat-list-item>
  </mat-list>
 </div>

</div>