button{
    width: 200px;
    height: 40px;
    margin: auto;
    display: block;
}

#page{
    max-width: 800px;
    margin: auto;  
}

mat-divider{
    margin: 20px
}


#cards {
    color: gray;
    font-style: italic;
}